.super-treeview * {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.super-treeview {
  font-size: 100%;
}
.super-treeview > div > .super-treeview-no-children-transition {
  transition-property: all;
}
.super-treeview > div > .super-treeview-no-children-transition-enter {
  opacity: 0;
  height: 0;
  overflow: hidden;
}
.super-treeview > div > .super-treeview-no-children-transition-enter.super-treeview-no-children-transition-enter-active {
  opacity: 1;
  height: 0;
}
.super-treeview > div > .super-treeview-no-children {
  overflow: hidden;
}
.super-treeview > div > .super-treeview-no-children > .super-treeview-no-children-content {
  margin: 4px 0 4px 16px;
}
.super-treeview > div > .super-treeview-node {
  overflow: hidden;
}
.super-treeview > div > .super-treeview-node > .super-treeview-children-container {
  margin-left: 8px;

  border-left: 1px solid #a29c9cad;
}
.super-treeview > div > .super-treeview-node > .super-treeview-children-container > .super-treeview-loading {
  padding: 0 3px;
  margin: 2px 0;
}
.super-treeview > div > .super-treeview-node > .super-treeview-node-content {
  background: #bbb5b5bf;
  border-bottom: 1px solid #a29c9cad;
  overflow: hidden;
  height: 35px;
  display: flex;
  align-items: center;
}
.super-treeview > div > .super-treeview-node > .super-treeview-node-content-selected
{
  background: #757575;
    color: white;
}

.super-treeview > div > .super-treeview-node > .super-treeview-node-content-cursor,
.super-treeview > div > .super-treeview-node > .super-treeview-node-content-cursor *
{
cursor: pointer;
}

.super-treeview > div > .super-treeview-node > .super-treeview-node-content-cursor:hover
{
  background: #b9b9b9;
}
.super-treeview > div > .super-treeview-node > .super-treeview-node-content-selected:hover
{
  
 background: #969696;
}
.super-treeview > div > .super-treeview-node > .super-treeview-node-content-child-highlight
{
  
 background: #BDD7EF;
}
.super-treeview > div > .super-treeview-node > .super-treeview-node-content-parent-highlight
{
  
 background: #F5B6B2;
}
.super-treeview > div > .super-treeview-node > .super-treeview-node-content-highlight:hover
{
  
 background: #969696;
}
.super-treeview > div > .super-treeview-node > .super-treeview-node-content > label {
  vertical-align: top;
  text-overflow: ellipsis;
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  margin: 0;
  font-weight: normal;
  font-size: 100%;
}
.super-treeview > div > .super-treeview-node > .super-treeview-node-content > input[type=checkbox] {
  float: left;
  margin: 4px 5px 0 0;
  line-height: normal;
}
.super-treeview > div > .super-treeview-node > .super-treeview-node-content > .super-treeview-triangle-btn {
  float: left;
  margin-right: 5px;
  cursor: pointer;
}
.super-treeview > div > .super-treeview-node > .super-treeview-node-content > .super-treeview-triangle-btn-none {
  cursor: none;
 border:0;
 width: 16px;
  height: 10px;
}
.super-treeview > div > .super-treeview-node > .super-treeview-node-content > .super-treeview-triangle-btn-right {
  width: 16px;
  height: 10px;
  margin-top: 3px;
  margin-left: 2px;
  border-top: 8px solid transparent;
  border-left: 10px solid #5a5959;
  border-bottom: 8px solid transparent;
}
.super-treeview > div > .super-treeview-node > .super-treeview-node-content > .super-treeview-triangle-btn-down {
  width: 10px;
  height: 8px;
  margin-top: 3px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid #5a5959;
}
.super-treeview > div > .super-treeview-node > .super-treeview-node-content > .super-treeview-count-box{
  

  margin-right: 10px;
  background: #4696e1;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  color: white;
  font-size: 12px;
  display:flex;

}
.super-treeview > div > .super-treeview-node > .super-treeview-node-content > .super-treeview-count-box > span{
  justify-content: center;
    align-items: center;
    display: flex;
    flex: 1;
}

.super-treeview > div > .super-treeview-node > .super-treeview-node-content > .delete-btn {
  float: right;
  cursor: pointer;
}
.super-treeview > div > .super-treeview-node-transition {
  transition-property: all;
}
.super-treeview > div > .super-treeview-node-transition-enter {
  opacity: 0;
}
.super-treeview > div > .super-treeview-node-transition-enter.super-treeview-node-transition-enter-active {
  opacity: 1;
}
.super-treeview > div > .super-treeview-node-transition-exit {
  opacity: 1;
}
.super-treeview > div > .super-treeview-node-transition-exit.super-treeview-node-transition-exit-active {
  opacity: 0;
  background-color: red;
}
.super-treeview > .super-treeview-progress 
{
  width: 25px!important;
  height: 25px!important;
  display: block;
  margin-top: 20px;
  color: #4088cc;
  margin-right: auto;
  margin-left: auto;
}
